/* App.css */

:root {
  --height: 100vh;
  --bacterium-size: 30px;
}

body {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 10%, #000 25%);
  margin: 0;
  overflow: hidden;
}

.microscope {
  position: relative;
  /* width: var(--height); */
  /* height: var(--height); */

  width: 80vh;
  height: 80vh;
  margin: auto;
  border-radius: 50%;
  overflow: hidden; /* Clip content outside the circle */
  background-color: #feffd8; /* Set the background color to white */
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--height);
  height: var(--height);
  background: radial-gradient(
    circle,
    transparent 0%,
    transparent 30%,
    #000 80%,
    #000 100%
  );
  border-radius: 50%;
  opacity: 1;
}

.bacterium {
  /* Add your styling for the bacterium */
  margin: 5px;
  position: absolute;
  width: var(--bacterium-size); /* Adjust the width as needed */
  height: var(--bacterium-size); /* Adjust the height as needed */
  border-radius: 50%; /* Ensures a circular shape */
  transition: all 2s linear; /* Standard */
}

.bacterium-body {
  position: relative;
  top: 24px;
  left: -8px;
  border: solid;
  border-color: #282c34;

  border-width: 15px;
  border-radius: 20px;
}
.bacterium-node {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid;
  border-radius: 50%;
}
.bacterium-node.top-right {
  -moz-transform: translate(7px) rotate(60deg);
  -webkit-transform: translate(7px) rotate(60deg);
  -o-transform: translate(7px) rotate(60deg);
  -ms-transform: translate(7px) rotate(60deg);
  transform: translate(7px) rotate(60deg);
}
.bacterium-node.top-left {
  -moz-transform: translate(-7px) rotate(300deg);
  -webkit-transform: translate(-7px) rotate(300deg);
  -o-transform: translate(-7px) rotate(300deg);
  -ms-transform: translate(-7px) rotate(300deg);
  transform: translate(-7px) rotate(300deg);
}
.bacterium-node.top-center {
  -moz-transform: translate(0px, -4px);
  -webkit-transform: translate(0px, -4px);
  -o-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}
.bacterium-node.bottom-left {
  -moz-transform: translate(-7px, 8px) rotate(240deg);
  -webkit-transform: translate(-7px, 8px) rotate(240deg);
  -o-transform: translate(-7px, 8px) rotate(240deg);
  -ms-transform: translate(-7px, 8px) rotate(240deg);
  transform: translate(-7px, 8px) rotate(240deg);
}
.bacterium-node.bottom-right {
  -moz-transform: translate(7px, 8px) rotate(120deg);
  -webkit-transform: translate(7px, 8px) rotate(120deg);
  -o-transform: translate(7px, 8px) rotate(120deg);
  -ms-transform: translate(7px, 8px) rotate(120deg);
  transform: translate(7px, 8px) rotate(120deg);
}
.bacterium-node.bottom-center {
  -moz-transform: translate(0px, 12px) rotate(180deg);
  -webkit-transform: translate(0px, 12px) rotate(180deg);
  -o-transform: translate(0px, 12px) rotate(180deg);
  -ms-transform: translate(0px, 12px) rotate(180deg);
  transform: translate(0px, 12px) rotate(180deg);
}
